* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #E8F9FD;
}

nav {
    background: #256D85;
    height: 80px;
    width: 100vw;
    color: antiquewhite;

}


/*PAGINA 1*/
#pagina1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: antiquewhite;
    flex-wrap: wrap;
    align-content: flex-start;
    border-color: 10 px solid lightpink;
}


#categorias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#listaproductos{
    display: flex;
    width: 70vw;
    margin-left: 10vw;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
    margin-top: 10vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

#catalogo{
    display: flex;
    margin-left: 10vw;
    flex-direction: row;
    flex-wrap: wrap;
}

#categoria1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#categoria2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#categoria3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#categoria4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nombrecategoria{
    display: flex;

}

/*FOTOS PRODUCTOS*/

#fotoproducto {
    text-align: center;
    width: 13vw;
}

#descripproducto{
    text-align: center;
    width: 10vw;
    border-style: double;
    border-width: 1px;
    border-color: #DFF6FF;
    font-size: 1vh;
}


.imagen img {
    width: 10vw;
    height: 20vh;
    display: flex;
    border-style: double;
    border-width: 4px;
    border-color: #DFF6FF;
    margin-top: 10vh;

}

/*PAGINA 2*/
#pagina2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: antiquewhite;
    flex-wrap: wrap;
    align-content: flex-start;
    border-color: 10 px solid lightpink;
}

#listacarrito{
    display: flex;
    width: 70vw;
    margin-left: 10vw;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
    margin-top: 10vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

#productoscarrito{
    display: flex;
    margin-left: 10vw;
    flex-direction: column;
    flex-wrap: wrap;
}

.pcarrito{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#fotocarrito img{
    width: 10vw;
}